<!DOCTYPE html>
<html lang="id">
	<head>
		<title>Footer</title>
		<link rel="stylesheet" href="../assets/css/style.css" />
	</head>
	<style>
		.footer {
			background: #34495e;
			color: white;
			text-align: center;
			padding: 10px 0;
			margin: 0;
		}
		.footer p {
			color: white;
			font-size: 14px;
			margin: 0;
		}
	</style>
	<body>
		<footer class="footer">
			<p>
				Halaman ini dibuat untuk memenuhi tugas 4 Desain Web SIB NF Academy.<br />
				Dibuat oleh Firenze Higa Putra, 2025.
			</p>
		</footer>
	</body>
</html>
