<!DOCTYPE html>
<html lang="id">
	<head>
		<title>Left Content | Sosial Media</title>
		<link rel="stylesheet" href="../assets/css/style.css" />
		<style>
			.content-box {
				border-color: #3498db; /* Biru untuk sosmed */
			}

			a:hover {
				color: #3498db;
				text-decoration: none;
			}
		</style>
	</head>
	<body class="page-content">
		<fieldset class="content-box">
			<legend>Sosial Media Teman</legend>
			<ul>
				<!-- target="maincontent" untuk beberapa link ketentuan soal tidak bisa karena
				 ada security policy dari pihak pemilik website, jadi menggunakan link eksternal lain -->

				<li>
					<!-- url awal https://www.instagram.com/nickyfajaelani/ -->
					<a href="https://chillajar.my.id/" target="maincontent"
						>Instagram | Nicky
					</a>
				</li>
				<li>
					<!-- url awal https://www.instagram.com/satriafrdnsyh/ -->
					<a href="http://reminder.gradufy.my.id/" target="maincontent"
						>Instagram | Satria
					</a>
				</li>
				<li>
					<!-- url awal https://www.instagram.com/andddddra/ -->
					<a href="https://www.instagram.com/andddddra/" target="maincontent"
						>Instagram | Andra</a
					>
				</li>
				<li>
					<!-- url awal https://www.instagram.com/ekomh_29/ -->
					<a href="https://www.instagram.com/ekomh_29/" target="maincontent"
						>Instagram | Eko</a
					>
				</li>
				<li>
					<!-- url awal https://www.instagram.com/arstar05/ -->
					<a href="https://www.instagram.com/arstar05/" target="maincontent"
						>Instagram | Arya</a
					>
				</li>
			</ul>
		</fieldset>
	</body>
</html>
